<% if @thermostats.any? %>
  <div class="ui container">
    <% @thermostats.each do |thermostat| %>
      <%= render partial: 'thermostat', object: thermostat %>
    <% end %>
  </div>
<% else %>
  <%= link_to 'Add thermostat', new_thermostat_path  %>
<% end %>
