<p>
  <strong>Name:</strong>
  <%= @thermostat.name %>
  <strong>Access token:</strong>
  <%= @thermostat.access_token %>
</p>

<%= link_to 'Edit', edit_thermostat_path(@thermostat) %> |
<%= link_to 'Back', thermostats_path %>
