<div class="ui right sidebar vertical labeled icon menu">
  <%= link_to thermostats_path, class: 'item' do %>
    <i class="home icon"></i>
    Thermostats
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: 'item' do %>
    <i class="sign out icon"></i>
    Sign out
  <% end %>
</div>
